html {
    scroll-behavior: smooth;
}

body {
    background-image: url(images/bck1.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0%;
    overflow: hidden;
}

.leftMenu {
    position: absolute;
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.336);
    width: 5%;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    left: 0;
    bottom: 0;
    font-size: 3.5vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.leftMenuList {
    margin-bottom: 100%;
}

.leftMenuList li {
    margin-bottom: 80%;
    padding: 0;
    border: 3px solid rgba(0, 0, 0, 0);
}

.leftMenu li:hover {
    cursor: pointer;
    border-bottom: 3px solid ;
    border-top: 3px solid;
    /* border-left: 2px solid; */
}

.footerMenu {
    position: absolute;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.336);
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 5vw;
    color: white;
    justify-content: space-between;
    font-size: 1.5vw;
    font-weight: bold;
}

.footerMenuList {
    display: flex;
    gap: 5%;
    padding-left: 5vw;
    align-items: center;
}

.footerMenuList li {
    height: 50%;
    /* width: 100%; */
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(0, 0, 0, 0);
}

.footerMenu li:hover {
    cursor: pointer;
    border-left: 3px solid white;
    border-right: 3px solid white;
    /* background-color: rgba(2, 0, 92, 0.068); */
}

.footerMenuActive {
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.projectsSwitch {
    display: none;
    width: 4%;
    justify-content: space-between;
    margin-right: 25%;
}

.projectsSwitch p {
    padding:0 10%;
    border-radius: 50px;
    border: 2px solid white;
}

.projectsSwitch p:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border: 2px solid black;
}

.meSection {
    color: white;
    justify-content: center;
    margin-left: 3%;
    display: flex;
    align-items: center;
    gap: 10%;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    font-weight: bold;
    /* background-color: blue; */
}


.meDetails {
    font-size: 2vw;
    width: 40vw;
    /* background-color: blueviolet; */
}
.mePhoto {
    width: 31%;
    border-radius: 50%;
    /* border: 10px solid white; */
}

pre {
    padding-left: 15%;
}

.span1 {
    color: rgb(255, 4, 4); 
}

.span2 {
    color: rgb(4, 255, 25); 
}

.span3 {
    color: rgb(0, 195, 255);
}

.span4 {
    color: yellow;
}

.span5 {
    color: violet;
}

.span6 {
    color: rgb(245, 110, 0);
}

pre {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    margin-bottom: -3%;
}

h3 {
    margin: 2%;
}

.studiesSection {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    /* margin-top: -5vw; */
    font-size: 1vw;
    gap: 1vw;
    align-self: center;
}

.studiesSection h2, .studiesSection h4 {
    overflow: hidden;
}

.studiesElement {
    color: white;
    width: 80%;
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-between;
    align-items: center;
}

.studiesElement img:hover {
    border: 4px solid white;
    cursor: pointer;
}

.studiesImage {
    width: 50%;
    /* background-color: beige; */
}

.studiesImage img {
    /* width: 60%; */
    width: 70%;
    min-height: 100%;
    /* object-fit: contain; */
    /* box-sizing: border-box; */
    border: 4px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
}

.topSubSection, .bottomSubSection {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    padding-left: 10%;
    padding-right: 2%;
    /* text-align: center; */
    gap: 6vw;
    /* background-color: blue; */
}

.studiesDetails {
    width: 70%;
    /* background-color: blue; */
    margin: 0 auto;
}

.studiesDetails h2, .studiesDetails h3 {
    text-align: center;
}

.studiesDetails h4 {
    text-align:justify;
}

.studiesDetails ul {
    list-style: disc;
}

#collegeDetails, #facultyDetails, #siitDetails1, #siitDetails2 {
    display: none;
}

.projectsSection {
    height: 100vh;
    display: flex;
    color: white;
    /* padding-left: 5%; */
    font-size: 1.1vw;
    background-color: brown;
    /* justify-content: space-around; */
}

#projectsSection2 {
    display: none;
}

.noWheelGap, .sneakersBoutique {
    width: 50%;
    margin: 0 auto;
}

.sbImages {
    width: 80%;
    border-radius: 25px;
}

.nwgImages {
    width: 80%;
    border-radius: 25px;
}

#sbImage, #nwgImage {
    cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 0);
}

#sbImage:hover, #nwgImage:hover {
    border: 3px solid white;
}

.sbImagesContainer, .nwgImagesContainer {
    display: flex;
    justify-content: center;
}

.nwgDetails, .sbDetails {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.projectsSection2 {
    cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 0);
    width: 90%;
    border-radius: 25px;
}

.projectsSection2:hover {
    border: 3px solid white;
}

.contactSection {
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    /* justify-content: center; */
    padding-top: 6%;
    flex-direction: column;
}

.contactSection h1 {
    font-size: 5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sbProjectLink, #nwgProjectLink, #gsProjectLink, #wfProjectLink {
    width: fit-content;
    margin: 2% auto;
    border: 2px solid rgba(255, 255, 255, 0);
}

#sbProjectLink:hover, #wfProjectLink:hover, #gsProjectLink:hover {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    cursor: pointer;
}

/* @media only screen and (max-width: 1120px) {
    .meSection {
        flex-direction: column;
        font-size: 1em;
        gap: 1%;
        justify-content: center;
    }
}
@media only screen and (max-width: 1120px) {
    .meSection {
        flex-direction: column;
        font-size: 1em;
        gap: 1%;
        justify-content: center;
    }
}
@media only screen and (max-width: 850px) {
    .studiesSection {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5%;
        text-align: start;
    }
    .topSubSection {
        flex-direction: column;
    }
    .bottomSubSection {
        flex-direction: column;
    }
} */