html {
    scroll-behavior: smooth;
}

body {
    background-image: url(images/bck1.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0%;
    overflow: hidden;
}


.leftMenu {
    position: absolute;
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.336);
    width: 4%;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    left: 0;
    bottom: 0;
    font-size: 2.4vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.leftMenuList {
    margin-bottom: 100%;
}

.leftMenuList li {
    margin-bottom: 80%;
    padding: 0;
    border: 3px solid rgba(0, 0, 0, 0);
}

.leftMenu li:hover {
    cursor: pointer;
    border-bottom: 3px solid ;
    border-top: 3px solid;
    /* border-left: 2px solid; */
}

.footerMenu {
    position: absolute;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.336);
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 4vw;
    color: white;
    /* justify-content: space-between; */
    font-size: 1.1vw;
    font-weight: bold;
    overflow: auto;
}

.footerMenuList {
    display: flex;
    gap: 2%;
    padding-left: 4vw;
    align-items: center;
}

.footerMenuList li {
    height: 50%;
    /* width: 100%; */
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(0, 0, 0, 0);
}

.footerMenu li:hover {
    cursor: pointer;
    border-left: 3px solid white;
    border-right: 3px solid white;
    /* background-color: rgba(2, 0, 92, 0.068); */
}

.footerMenuActive {
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.projectsSwitch {
    display: none;
    width: 3.2vw;
    justify-content: space-between;
    margin-right: 4vw;
    align-items: center;
}

.projectsSwitch p {
    padding:0 10%;
    border-radius: 50px;
    border: 2px solid white;
    box-sizing:content-box;
    text-align: center;
}

.projectsSwitch p:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border: 2px solid black;
}

.meSection {
    scroll-snap-align: start;
    color: white;
    justify-content: center;
    margin-left: 3%;
    display: flex;
    align-items: center;
    gap: 5vw;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    font-weight: bold;
    /* justify-content: space-around; */
    /* background-color: blue; */
}


.meDetails {
    font-size: 1.7vw;
    width: 40vw;
    /* background-color: blueviolet; */
}
.mePhoto {
    width: 23vw;
    border-radius: 50%;
    /* border: 10px solid white; */
}

pre {
    padding-left: 15%;
}

.span1 {
    color: rgb(255, 4, 4); 
}

.span2 {
    color: rgb(4, 255, 25); 
}

.span3 {
    color: rgb(0, 195, 255);
}

.span4 {
    color: yellow;
}

.span5 {
    color: violet;
}

.span6 {
    color: rgb(245, 110, 0);
}

pre {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    /* margin-bottom: -3%; */
}

h3 {
    margin: 2%;
}

.studiesSection {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    /* margin-top: -5vw; */
    font-size: 1vw;
    gap: 1vw;
    align-self: center;
}

.studiesSection h2, .studiesSection h4 {
    overflow: hidden;
}

.studiesElement {
    color: white;
    width: 80%;
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-between;
    align-items: center;
}

.studiesElement img:hover {
    border: 4px solid white;
    cursor: pointer;
}

.studiesImage {
    width: 50%;
    /* background-color: beige; */
}

.studiesImage img {
    /* width: 60%; */
    width: 70%;
    min-height: 100%;
    /* object-fit: contain; */
    /* box-sizing: border-box; */
    border: 4px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
}

.topSubSection, .bottomSubSection {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    padding-left: 10%;
    padding-right: 2%;
    /* text-align: center; */
    gap: 6vw;
    /* background-color: blue; */
}

.studiesDetails {
    width: 70%;
    /* background-color: blue; */
    margin: 0 auto;
}

.studiesDetails h2, .studiesDetails h3 {
    text-align: center;
}

.studiesDetails h4 {
    text-align:justify;
}

.studiesDetails ul {
    list-style: disc;
}

#collegeDetails, #facultyDetails, #siitDetails1, #siitDetails2 {
    display: none;
}

.projectsSection {
    /* background-color: rgb(165, 91, 0); */
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    color: white;
    padding-left: 4vw;
    font-size: 1.1vw;
    margin-top: 1vh;
    padding-bottom: 100px;
    /* background-color: brown; */
    justify-content: space-around;
}

/* #projectsSection1, #projectsSection2 {
    font-size: 9.1vw;
} */

#projectsSection2 {
    display: none;
}

.noWheelGap, .sneakersBoutique {
    width: 50%;
    margin: 0 auto;
    /* background-color: bisque; */
}

.sbImages {
    width: 75%;
    border-radius: 25px;
}

.nwgImages {
    width: 75%;
    border-radius: 25px;
}

#sbImage, #nwgImage {
    cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 0);
}

#sbImage:hover, #nwgImage:hover {
    border: 3px solid white;
}

.sbImagesContainer, .nwgImagesContainer {
    display: flex;
    justify-content: center;
}

.nwgDetails, .sbDetails {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.projectsSection2 {
    /* background-color: bisque; */
    
    /* width: 85%; */
    
}

#wfImage, #gsImage {
    cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 25px;
    width: 80%;
}

.projectsSection2:hover {
    border: 3px solid white;
}

.contactSection {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    margin-top: -15%;
    flex-direction: column;
    text-align: center;
}

#switch1, #switch2, #switch3 {
    color: white;
    font-size: 200%;
    border-radius: 25px;
    border: 0px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 140, 0, 0);
}

#switch1 :hover, #switch2 :hover, #switch3 :hover {
    cursor: pointer;
    color: black;
}

#switch3 {
    display: none;
    margin: 0 auto;
}

#contact1 {
    /* font-size: 5vw; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contact2 {
    /* font-size: 0.8vw; */
}

#sbProjectLink, #nwgProjectLink, #gsProjectLink, #wfProjectLink {
    width: fit-content;
    margin: 2% auto;
    border: 2px solid rgba(255, 255, 255, 0);
}

#sbProjectLink:hover, #wfProjectLink:hover, #gsProjectLink:hover {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    cursor: pointer;
}

@media (max-width: 1000px) {
    body {
        overflow-y: scroll;
    }
}

@media (max-width: 800px) {
    .leftMenu {
        /* color: red; */
        width: 5.5%;
        font-size: 4vw;
    }
    .footerMenu {
        /* color: red; */
        height: 5vw;
        font-size: 1.9vw;
    }
    .footerMenuList {
        padding-left: 5vw;
    }
    #switch2 {
        display: none;
    }
    #switch3 {
        display: block;
    }
}

@media (max-width: 500px) {
    .leftMenu {
        /* color: red; */
        width: 7%;
        font-size: 5.5vw;
    }
    .footerMenu {
        /* color: red; */
        height: 6.5vw;
        font-size: 2.6vw;
    }
    .footerMenuList {
        padding-left: 6.5vw;
        /* -webkit-transform: rotate(-90deg); */
    }
}

